.navbar{
    height: 6vh;
    width: 100%;
    background-color: orange;
}
.navbar-up-left{
    display: flex;
}
.navbar-up-left button{
   border: none;
   background-color: orange;
   width: 150px;
   color: white;
}
.navbar-up-left .line-one{
    border: 1px solid white;
    height: 20px;
    margin-top: 7px;
}
.navbar-up-right{
    display: flex;
}

.navbar-up-right ul{
    display: flex;
    list-style: none;
    padding-left: 500px;
    color: white;

}
.navbar-up-right ul li{
    padding-left: 5px;
}
.navbar-up-right .line-two-nav{
    border: 1px solid white;
    height: 16px;
    margin-top: 5px;
    margin-left: 5px;
}
.navbar-down .naxtel-logo img{
    height: 80px;
    width: 100px;
    padding-top: 20px;
}
.navbar-down-main ul{
    display: flex;
    list-style: none;
}
.navbar-down-main ul li{
margin-left: 25px;
margin-top: 35px;
}
.navbar-down-main ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 550;
}
.search-icon{
    margin-left: 200px;
    margin-top: 40px;
}

#slide .slide-one{
    width: 100%;
}

#slide .slide-one img{
    width: 100%;
    
}
.cards-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
 .card{
    display: flex;
    margin-top: 20px;
 }
 .slide-two{
    width: 100%;
 }
 .slide-two img{
    width: 100%;
    margin-top: 20px;
 }
.offer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.icon-card{
    margin-top: 70px;
}
.icon-card img{
    height: 130px;
    width: 130px;
    margin-left: 100px;
    
}
.icon-card h3{
    color: gray;
    margin-top: 10px;
    margin-left: 110px;

}
.icon-card button{
    border-color: orange;
    color: orange;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 125px;
   
}
.news{
    height: 280px;
    width: 100%;
    background-color: rgb(244, 240, 240);
}
.news .news-text{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.news .news-text h3{
    margin-top: 30px;
    color: rgb(109, 110, 110);
}
#end{
    height: 280px;
    background-color: rgb(133, 133, 255);
}
#end .one h3{
    margin-top: 65px;
    color: white;
}
#end .one ul{
list-style: none;
}
#end .one ul li{
    
}
#end .one ul li a{
    text-decoration: none;
    color: white;
}
#end .two h3{
    margin-top: 65px;
    color: white;
}
#end .two ul{
list-style: none;
}
#end .two ul li{
    
}
#end .two ul li a{
    text-decoration: none;
    color: white;
}
#end .three h3{
    margin-top: 65px;
    color: white;
}
#end .three ul{
list-style: none;
}
#end .three ul li{
    
}
#end .three ul li a{
    text-decoration: none;
    color: white;
}
#end .four h3{
    margin-top: 65px;
    color: white;
}
#end .four ul{
list-style: none;
}
#end .four ul li{
    
}
#end .four ul li a{
    text-decoration: none;
    color: white;
}
#finish{
    height: 90px;
    background-color: rgb(80, 80, 152);
    padding-left: 120px;
    padding-top: 15px;
}
.finish-icon{
    margin-left: 10px;
  
}